<% flash.each do |type, msg| %>
  <% if type == 'danger' %>
    <div class="ui negative message transition">
      <i class="close icon"></i>
      <div class="header">
        Error:
      </div>
      <p><%= msg %></p>
    </div>
  <% end %>
  <% if type == 'success' %>
    <div class="ui success message transition">
      <i class="close icon"></i>
      <div class="header">
        Success:
      </div>
      <p><%= msg %></p>
    </div>
  <% end %>

  <% if type == 'notice' %>
    <div class="ui blue message transition">
      <i class="close icon"></i>
      <div class="header">
        Notice:
      </div>
      <p><%= msg %></p>
    </div>
  <% end %>
<% end %>