<div class="message-box-container fluid">
  <div class="message-box">

    <div class="message-header">
      <%= data.user.username %>
    </div>

    <p class="message-text"><%= data.body %></p>

  </div>
</div>